<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css" media="screen"/>

  </head>
  <body>
    <h1>HTML template page is rendered</h1>

<script>
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/json', true);

    // Track the state changes of the request.
    xhr.onreadystatechange = function () {
    	var DONE = 4; // readyState 4 means the request is done.
    	var OK = 200; // status 200 is a successful return.
    	if (xhr.readyState === DONE) {
    		if (xhr.status === OK) {
    			console.log(xhr.responseText); // 'This is the output.'
    		} else {
    			console.log('Error: ' + xhr.status); // An error occurred during the request.
          console.log('Test Log: ' + xhr.status)
        }
    	}
    };

    // Send the request to send-ajax-data.php
    xhr.send(null);

</script>

<!-- *** amCharts Pie Chart *** -->
    <script src="//www.amcharts.com/lib/4/core.js"></script>
    <script src="//www.amcharts.com/lib/4/charts.js"></script>
    <script src="//www.amcharts.com/lib/4/themes/animated.js"></script>

    <div id="chartdiv">
    </div>

    <script>
    am4core.useTheme(am4themes_animated);
    var chart = am4core.create("chartdiv", am4charts.PieChart);

    chart.data = [{
      "city": "London",
      "cases": 501.9
    }, {
      "city": "Missussauga",
      "cases": 301.9
    }, {
      "city": "Waterloo",
      "cases": 201.1
    }, {
      "city": "Hamilton",
      "cases": 165.8
    }, {
      "city": "Newmarket",
      "cases": 139.9
    }, {
      "city": "Ottawa",
      "cases": 128.3
    }, {
      "city": "Chatham",
      "cases": 99
    }, {
      "city": "Whitby",
      "cases": 60
    }, {
      "city": "Windor",
      "cases": 50
    }];

    var pieSeries = chart.series.push(new am4charts.PieSeries());
    pieSeries.dataFields.value = "cases";
    pieSeries.dataFields.category = "city";

// add inner radius
    chart.innerRadius = am4core.percent(40);
    pieSeries.slices.template.stroke = am4core.color("#4a2abb");
    pieSeries.slices.template.strokeWidth = 2;
    pieSeries.slices.template.strokeOpacity = 1;


  // disable growing hover and add fill opacity
    pieSeries.slices.template.fillOpacity = 1;

    var hs = pieSeries.slices.template.states.getKey("hover");
    hs.properties.scale = 1;
    hs.properties.fillOpacity = 0.5;

    </script>




     <!-- *** google heat map *** -->

        <div id="map">
          <%# retrieve_geoJson %>
          <%= google_api_call %>
        </div>

        <script>
          alert("be present");

          var heatmapData = [
            new google.maps.LatLng(43.6532, -79.3794),
            new google.maps.LatLng(43.6532, -79.3783),
            new google.maps.LatLng(43.6532, -79.3710)
          ];

          var covidToronto = new google.maps.LatLng(43.6532, -79.3832);

          map = new google.maps.Map(document.getElementById('map'), {
            center: covidToronto,
            zoom: 13,
            mapTypeId: 'satellite'
          });

          var heatmap = new google.maps.visualization.HeatmapLayer({
            data: heatmapData
          });
          heatmap.setMap(map);
        </script>



  </body>
</html>
