<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css" media="screen"/>
  </head>
  <body>
    <h1>HTML template page is rendered</h1>

    <button id="click" onclick="clickFunction()">Click to download GeoJson</button>

    <button type="button"
    onclick="document.getElementById('click').innerHTML = Date()">
    Click me to display Date and Time.</button>
    <div id="map"></div>

    <h2>Test: <% if @google_api_key == nil %>
      Is empty
      <% else %>
      <%= @google_api_key %> </h2>
      <% end %>

  <script src="static/scripts.js">

  </script>



  </body>
</html>
